
#header {
  text-align: center;
  padding-top: 20px;
}
#footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.AFCTable {
  border: solid;
  border-radius: 7px;
  background-color: OrangeRed;
  width: 300px;
}
.NFCTable {
  border: solid;
  border-radius: 7px;
  background-color: Royalblue;
  width: 300px;
}
.Conferences {
  height: 20px;
  font-size: 37px;
}

.DivisionTop3 {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  background-color: lightgrey;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 75px;

  width: 200px;
}
.DivisionBottom {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  background-color: lightgrey;

  padding-top: 10px;
  padding-bottom: 10px;

  width: 200px;
}

.Division {
  border-bottom: solid;
}
.DivisionData {
  text-align: left;
}
.DivisionTable {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 10px;
  border: solid;
}


#matchupTable {
  margin-left: auto;
  margin-right: auto;
}

.awayLogo {
  border-radius: 15px;
  padding-left: 10px;
  padding-right:20px;
}
.homeLogo {
  padding-left: 25px;
  padding-right: 10px;
  border-radius: 15px;
}




.weekHeaders {
  border: solid;
  border-radius: 7px;

  margin-top: 20px;

  background-color: lightgrey;
}
