
h1 {
  text-align: center;
  padding-top: 20px;
}
footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

.AFCTable {
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  background-color: OrangeRed;
}
.NFCTable {
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  background-color: Royalblue;
}
.Conferences {
  font-size: 37px;
}

.DivisionTop3 {

  margin-left: auto;
  margin-right: auto;
  border: solid;
  background-color: lightgrey;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 75px;

  min-width: 80%;

  font-size: 20px;
}
.DivisionBottom {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  background-color: lightgrey;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 95%;



  min-width: 80%;

  font-size: 20px;
}

.Division {
  border-bottom: solid;
}
.DivisionData {
  text-align: left;
  border-style: solid;
  border-width: 1px;
}



.weekHeaders {
  border: solid;

  margin-top: 20px;

  background-color: lightgrey;
}
